@import "tailwindcss";

@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #ffffff, #ededed);
  width: 100%;
  height: 100vh;
}

.login-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  background-color: #ffffff;
  gap: 11px;
  padding: 50px;
  border-radius: 20px;
}

.dash-container{
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  gap: 10px;
  color: black;
}

.form-container{
  display: flex;
  flex-direction: row
}

.active-container{
  display: flex;
  gap: 10px;
}